@model List<TimeReg.VI_TimePerOrdernumber>

@*
table containing all time registrations.
*@
<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeSum)
                </td>
            </tr>
        }
    </tbody>
</table>



