@model TimeReg.ViewModels.TimeRegistrationViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div id="PartialViewTableWrapper"> Loading TimeRegistrations..</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>

    @*Ajax table handling

        In the following JS the variable "CRUD" represents the type of action requested eg: Create, Remove, Update, Details.
    *@
    <script>
        $(document).ready(function () {
            UpdateUnionTable();
        });


        function UpdateUnionTable() {
            $.ajax({
                url: "/TimeRegistrations/IndexTable",
                type: "GET"
            }).done(function (partialViewResult) {
                $("#PartialViewTableWrapper").html(partialViewResult);
            })
        }

    </script>


}