@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RepIT</h1>
    <p class="lead">It just works</p>
    <p><a href="TimeRegistrations/Create" class="btn btn-primary btn-lg">Register Time &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Weekly Comments</h2>
        <p>
            Click below to write a comment for your project for the weekly report.
        </p>
        <p><a class="btn btn-default" href="Comments/Create">Comment &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Time Registration Index</h2>
        <p>Create project easily.</p>
        <p><a class="btn btn-default" href="TimeRegistrations">Time Registration &raquo;</a></p>
        <p> </p>
    </div>
    <div class="col-md-4">
        <h2>Project Index</h2>
        <p>You can easily find a project through the project list, which will feature sorting and filtering.</p>
        <p><a class="btn btn-default" href="Projects">See Projects &raquo;</a></p>
    </div>
</div>